    global

    defaults
        log global
        mode    tcp
        option  dontlognull
            timeout connect 5000
            timeout client  50000
            timeout server  50000

    frontend ss-in
        bind *:443
        default_backend ss-out

    backend ss-out
        server server1 $ip:22 maxconn 20480
